.classpath
.pmd
.project
.ruleset
.externalToolBuilders
*.prefs

*.txt
*.springBeans
*.class
*.xsd
*.keepme
*.number
*testclasses.xml
build.xml
buildcallbacks.xml
gensrc

extensioninfo.xsd
beans.xsd
items.xsd
hmc.xsd

*-webtestclasses.xml

eclipsebin/*
classes/*
gensrc/*

.settings
.springBeans

.*classpath
*.jar

target/
*.orig
*.iml
.idea/
/out/

platformhome.properties
